/* header */

.page {
    background-color: var(--main-background-color);
    background-image: var(--background-img);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 100vh;
}

.decorated-zone::before {
    content: '';
    position: absolute;
    display: block;
    border-top: 1px solid var(--decorated-zone-color);
    border-right: 1px solid var(--decorated-zone-color);
    block-size: 25px;
    inline-size: 25px;
    inset-inline-end: 20px;
    inset-block-start: 20px;
}

.decorated-zone::after {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 1px solid var(--decorated-zone-color);
    border-left: 1px solid var(--decorated-zone-color);
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 20px;
    inset-block-end: 20px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: 1px solid transparent;
    color: var(--button-color);
    font-family: 'Press Start 2P';
    font-weight: normal;
    font-size: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
    user-select: none;
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-active-color);
    pointer-events: none;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--button-focus-visible-color);
}

.header__decoration-element {
    position: absolute;
    display: var(--diplay-of-decor-elem);
    align-items: center;
    gap: 12px;
    min-width: 52px;
    min-height: 26px;
    color: var(--decoration-element-color);
    user-select: none;
    inset-block-start: 19px;
    inset-inline-end: 28px;
}

.header__decoration-element_text {
    color: inherit;
    font-family: var(--fonts);
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}

.header__decoration-element_circle {
    border-radius: 50%;
    box-shadow: 0 0 3px 3px var(--decoration-element-color);
    background-color: var(--decoration-element-color);
    block-size: 7px;
    inline-size: 7px;
}

.header__title-conteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__title {
    color: var(--title-text-color);
    font-family: var(--fonts);
    font-weight: bold;
    font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
    text-transform: lowercase;
    text-shadow: 4px 4px #ff0070;
}

.header__content {
    justify-self: end;
    align-self: start;
    width: 491px;
    margin-top: clamp(
        41px,
        calc(52px - (1024px - 100vw) * ((52 - 41) / (1024 - 769))),
        52px
    );
    margin-right: 20px;
    color: var(--secondary-text-color);
    font-family: var(--fonts);
    font-weight: 700;
    font-size: 18px;
    background-color: var(--background-text-color);
}

@media (width < 1024px) {
    .header__theme-menu-list {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        padding-right: 20px;
        padding-bottom: 54px;
    }

    .header__title {
        font-size: 120px;
    }

    .header__content {
        width: 364px;
        margin-right: 20px;
    }
}

@media (width < 768px) {
    .header__decoration-element {
        inset-block-start: 10px;
        inset-inline-end: 18px;
    }

    .decorated-zone::before {
        inset-inline-end: 10px;
        inset-block-start: 10px;
    }

    .decorated-zone::after {
        inset-inline-start: 10px;
        inset-block-end: 10px;
    }

    .header__theme-menu-list {
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .header__title {
        padding-left: 10px;
        font-size: 116px;
        line-height: 95.7px;
    }

    .header__content {
        width: 355px;
        margin-right: 10px;
    }
}
/* header */

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: auto;
    padding-top: 60px;
    font-family: var(--fonts);
    font-weight: normal;
    font-size: 18px;
}

.section {
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto;
}

.main__section_article-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px 0 16px;
}

.article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    line-height: 23.4px;
}

.article a {
    text-decoration: none;
    text-shadow: 2px 2px var(--background-text-color);
}

.article a:hover {
    border-bottom: 1px solid var(--primary-text-color);
}

.article a:focus {
    outline: none;
}

.article a:focus-visible {
    border: 1px solid var(--primary-text-color);
}

.section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section h2 {
    padding-left: 20px;
    color: var(--section-title-color);
    font-size: inherit;
}

.section p {
    color: var(--primary-text-color);
}

.gallery h2 {
    color: var(--secondary-text-color);
    font-size: inherit;
    background-color: var(--background-text-color);
}

.section:nth-child(2) h2 {
    width: 315px;
}

.section:nth-child(2) .main__section_article-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
}

.section:nth-child(2) .article {
    flex-basis: 315px;
    padding: 0;
}

.section h3,
.section h4 {
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: inherit;
    background-color: var(--background-text-color);
}

.article > h4 {
    font-weight: normal;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.main__section_img-wrapper {
    display: grid;
    grid-template-areas:
        'sunset sunset ice-cream'
        'tape books ice-cream'
        'tape street street';
    row-gap: 14px;
    column-gap: 20px;
}

.img_sunset {
    grid-area: sunset;
    height: 98%;
}

.img_ice-cream {
    grid-area: ice-cream;
    height: 99.5%;
}

.img_tape {
    grid-area: tape;
    padding-bottom: 6px;
}

.img_books {
    grid-area: books;
    height: 99%;
}

.img_sreet {
    grid-area: street;
    height: 98%;
    margin-top: 5px;
}

li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* main */

/* footer */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 53px;
    font-family: var(--fonts);
    font-weight: bold;
}

.footer_title {
    color: var(--title-text-color);
    font-size: 157px;
    text-shadow: 2px 2px #ff0070;
}

/* footer */

@media (width < 1024px) {
    .main__section_article-wrapper {
        padding: 0 20px 0 22px;
    }

    .section:nth-child(2) .main__section_article-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .section:nth-child(2) .article {
        flex-basis: content;
    }

    .section:nth-child(2) h2 {
        width: 256px;
    }

    .img_sreet {
        margin-top: 2px;
    }

    .footer {
        margin-top: 55px;
    }

    .footer_title {
        font-size: 120px;
    }
}

@media (width < 768px) {
    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    main {
        gap: 50px;
        padding-top: 40px;
    }

    .section h2 {
        padding: 0 10px;
    }

    .section:nth-child(2) h2 {
        width: 100%;
    }

    .main__section_article-wrapper {
        padding: 0 10px;
    }

    .section:nth-child(2) .main__section_article-wrapper {
        padding: 0 10px;
    }

    .gallery {
        gap: 10px;
        padding: 0 10px;
    }

    .main__section_img-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .img_books {
        margin-top: -5px;
    }

    .img_sreet {
        margin-top: 0;
    }

    .footer {
        margin-top: 33px;
    }

    .footer_title {
        font-size: 116px;
    }
}
