/* header */
.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1024px;
    height: clamp(768px, calc(768px + 1024px - 100vw), 1024px);
    margin: auto;
    background-size: cover;
}

.decorated-zone::before {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-end: 20px;
    inset-block-start: 20px;
}

.decorated-zone::after {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 20px;
    inset-block-end: 20px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: 1px solid transparent;
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
    user-select: none;
}

.header__decoration-element {
    position: absolute;
    align-items: center;
    gap: 12px;
    min-width: 52px;
    min-height: 26px;
    color: var(--primary-color);
    user-select: none;
    inset-block-start: 19px;
    inset-inline-end: 28px;
}

.header__decoration-element_text {
    color: inherit;
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}

.header__decoration-element_circle {
    border-radius: 50%;
    block-size: 7px;
    inline-size: 7px;
}

.header__title-conteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__title {
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: bold;
    font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
    text-transform: lowercase;
}

.header__content {
    justify-self: end;
    align-self: start;
    width: clamp(364px, calc(100vw - 404px), 491px);
    margin-top: clamp(
        41px,
        calc(52px - (1024px - 100vw) * ((52 - 41) / (1024 - 769))),
        52px
    );
    margin-right: 20px;
    margin-left: 10px;
    color: var(--primary-text-color);
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--primary-color);
}

@media (width <= 768px) {
    .header {
        height: clamp(
            688px,
            calc(1024px - (768px - 100vw) * ((1024 - 688) / (768 - 375))),
            1024px
        );
    }

    .header__theme-menu-list {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        padding-bottom: 54px;
    }

    .header__title {
        font-size: clamp(7.25rem, 7.0102rem + 1.0204vw, 7.5rem);
    }

    .header__content {
        width: clamp(
            355px,
            calc(364px - (768px - 100vw) * ((364 - 355) / (768 - 376))),
            364px
        );
        margin-right: clamp(
            10px,
            calc(20px - (768px - 100vw) * ((20 - 10) / (768 - 376))),
            20px
        );
    }
}

@media (width < 376px) {
    .header__decoration-element {
        inset-block-start: 10px;
        inset-inline-end: 18px;
    }

    .decorated-zone::before {
        inset-inline-end: 10px;
        inset-block-start: 10px;
    }

    .decorated-zone::after {
        inset-inline-start: 10px;
        inset-block-end: 30px;
    }

    .header__theme-menu-list {
        padding-right: 10px;
        padding-bottom: 60px;
    }

    .header__title {
        padding: 0 0 18px 10px;
        line-height: 95.7px;
    }

    .header__content {
        margin-top: 25px;
    }
}
/* header */

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1024px;
    margin: auto;
    padding-top: 60px;
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: normal;
    font-size: 18px;
    background-color: var(--main-background-color);
}

.section {
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto;
}

.main__section_article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 23.4px;
}

.section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section h2 {
    padding-left: 20px;
    font-size: inherit;
}

.section:nth-child(2) h2 {
    width: 315px;
}

.section:nth-child(2) .main__section_article-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0 20px;
}

.section:nth-child(2) .article {
    flex-basis: 315px;
    padding: 0;
}

.section h3 {
    color: var(--secodary-text-color);
    font-weight: bold;
    font-size: inherit;
    background-color: var(--primary-color);
}

.section:nth-child(3) article > h3 {
    font-weight: normal;
}

@media (width <= 768px) {
    .section:nth-child(2) .main__section_article-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .section:nth-child(2) .article {
        flex-basis: content;
    }

    .section:nth-child(2) h2 {
        width: 256px;
    }
}

@media (width < 376px) {
    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    main {
        padding-top: 20px;
        gap: 50px;
    }

    .section h2 {
        padding: 0 10px;
    }

    .section:nth-child(2) h2 {
        width: 100%;
    }

    .main__section_article-wrapper {
        padding: 0 10px;
    }

    .section:nth-child(2) .main__section_article-wrapper {
        padding: 0 10px;
    }
}
/* main */
