/* header */

.body-wrapper {
    max-width: 1024px;
    background-color: var(--main-background-color);
    margin: auto;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1024px;
    height: clamp(768px, calc(768px + 1024px - 100vw), 1024px);
    margin: auto;
    background-size: cover;
    background-image: var(--background-img);
}

.decorated-zone::before {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-end: 20px;
    inset-block-start: 20px;
    border-top: 1px solid var(--decorated-zone-color);
    border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 20px;
    inset-block-end: 20px;
    border-bottom: 1px solid var(--decorated-zone-color);
    border-left: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: 1px solid transparent;
    font-family: 'IBM Plex mono', monospace;
    font-weight: normal;
    font-size: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: var(--button-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-active-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--button-focus-visible-color);
}

.header__decoration-element {
    position: absolute;
    align-items: center;
    gap: 12px;
    min-width: 52px;
    min-height: 26px;
    color: var(--decoration-element-color);
    user-select: none;
    inset-block-start: 19px;
    inset-inline-end: 28px;
    display: var(--diplay-of-decor-elem);
}

.header__decoration-element_text {
    color: inherit;
    font-family: 'IBM Plex mono', monospace;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}

.header__decoration-element_circle {
    border-radius: 50%;
    block-size: 7px;
    inline-size: 7px;
    box-shadow: 0 0 3px 3px var(--decoration-element-color);
    background-color: var(--decoration-element-color);
}

.header__title-conteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__title {
    font-family: 'IBM Plex mono', monospace;
    font-weight: bold;
    font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
    text-transform: lowercase;
    color: var(--title-text-color);
    text-shadow: 4px 4px #ff0070;
}

.header__content {
    justify-self: end;
    align-self: start;
    width: clamp(364px, calc(100vw - 404px), 491px);
    margin-top: clamp(
        41px,
        calc(52px - (1024px - 100vw) * ((52 - 41) / (1024 - 769))),
        52px
    );
    margin-right: 20px;
    margin-left: 10px;
    color: var(--secondary-text-color);
    font-family: 'IBM Plex mono', monospace;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--background-text-color);
}

@media (width <= 768px) {
    .header {
        height: clamp(
            688px,
            calc(1024px - (768px - 100vw) * ((1024 - 688) / (768 - 375))),
            1024px
        );
    }

    .header__theme-menu-list {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        padding-bottom: 54px;
    }

    .header__title {
        font-size: clamp(7.25rem, 7.0102rem + 1.0204vw, 7.5rem);
    }

    .header__content {
        width: clamp(
            355px,
            calc(364px - (768px - 100vw) * ((364 - 355) / (768 - 376))),
            364px
        );
        margin-right: clamp(
            10px,
            calc(20px - (768px - 100vw) * ((20 - 10) / (768 - 376))),
            20px
        );
    }
}

@media (width < 376px) {
    .header__decoration-element {
        inset-block-start: 10px;
        inset-inline-end: 18px;
    }

    .decorated-zone::before {
        inset-inline-end: 10px;
        inset-block-start: 10px;
    }

    .decorated-zone::after {
        inset-inline-start: 10px;
        inset-block-end: 30px;
    }

    .header__theme-menu-list {
        padding-right: 10px;
        padding-bottom: 60px;
    }

    .header__title {
        padding: 0 0 18px 10px;
        line-height: 95.7px;
    }

    .header__content {
        margin-top: 25px;
    }
}
/* header */

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1024px;
    margin: auto;
    padding-top: 60px;
    font-family: 'IBM Plex mono', monospace;
    font-weight: normal;
    font-size: 18px;
}

.section {
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto;
}

.main__section_article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 0 16px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 23.4px;
}

.article a {
    text-decoration: none;
    text-shadow: 2px 2px var(--background-text-color);
}

.article a:hover {
    border-bottom: 1px solid var(--primary-text-color);
}

.article a:focus {
    outline: none;
}

.article a:focus-visible {
    border: 1px solid var(--primary-text-color);
}

.section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section h3 {
    padding-left: 20px;
    font-size: inherit;
    color: var(--section-title-color);
}

.section p {
    color: var(--primary-text-color);
}

.gallery h3 {
    color: var(--secondary-text-color);
    font-size: inherit;
    background-color: var(--background-text-color);
}

.section:nth-child(2) h3 {
    width: 315px;
}

.section:nth-child(2) .main__section_article-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0 20px;
}

.section:nth-child(2) .article {
    flex-basis: 315px;
    padding: 0;
}

.section h4,
.section h5 {
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: inherit;
    background-color: var(--background-text-color);
}

.section:nth-child(3) article > h5 {
    font-weight: normal;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.main__section_img-wrapper {
    display: grid;
    grid-template-areas:
        'sunset sunset ice-cream'
        'tape books ice-cream'
        'tape street street';
    row-gap: 14px;
    column-gap: 20px;
}

.img_sunset {
    grid-area: sunset;
    height: 98%;
}

.img_ice-cream {
    grid-area: ice-cream;
    height: 99.5%;
}

.img_tape {
    grid-area: tape;
    padding-bottom: 8px;
}

.img_books {
    grid-area: books;
    height: 99%;
}

.img_sreet {
    grid-area: street;
    padding-top: 5px;
    height: 98%;
}

li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* main */

/* footer */
.footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-inline-size: 1024px;
    block-size: 768px;
    margin-top: 50px;
    font-family: 'IBM Plex mono', monospace;
    font-weight: bold;
}

.footer_title {
    font-size: 157px;
    color: var(--title-text-color);
    text-shadow: 2px 2px #ff0070;
}

.footer::before {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-end: 20px;
    inset-block-start: 20px;
}

.footer::after {
    content: '';
    position: absolute;
    display: block;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 20px;
    inset-block-end: 20px;
}
/* footer */

@media (width <= 768px) {
    .main__section_article-wrapper {
        padding: 0 20px 0 22px;
    }

    .section:nth-child(2) .main__section_article-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .section:nth-child(2) .article {
        flex-basis: content;
    }

    .section:nth-child(2) h3 {
        width: 256px;
    }

    .footer_title {
        font-size: 120px;
    }
}

@media (width < 376px) {
    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    main {
        gap: 50px;
        padding-top: 20px;
    }

    .section h3 {
        padding: 0 10px;
    }

    .section:nth-child(2) h3 {
        width: 100%;
    }

    .main__section_article-wrapper {
        padding: 0 10px;
    }

    .section:nth-child(2) .main__section_article-wrapper {
        padding: 0 10px;
    }

    .gallery {
        gap: 10px;
        padding: 0 10px;
    }

    .main__section_img-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer_title {
        font-size: 116px;
    }
}
