@media (prefers-color-scheme: dark) {
    .page.theme_dark {
        --header__background-image: url('../images/cover-image-dark.png');
        --main-text-color: #ff0070;
        --header__decoration-element: flex;
        --header__title-color: #db00ff;
        --text-background: #ff0070;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --header__background-image: url('../images/cover-image-dark.png');
        --main-text-color: #ff0070;
        --header__decoration-element: flex;
        --header__title-color: #db00ff;
        --text-background: #ff0070;
    }
}
