.page.theme_light {
    --main-background-color: #fff1f7;
    --background-img: url('../images/cover-image-light.png');
    --primary-color: #ffc2e6;
    --primary-text-color: #353430;
    --secondary-text-color: #353430;
    --title-text-color: #ffc2e6;
    --decorated-zone-color: #353430;
    --diplay-of-decor-elem: none;
    --button-color: #353430;
    --button-active-color: #353430;
    --button-hover-color: #32312d66;
    --button-focus-visible-color: #353430;
    --decoration-element-color: #353430;
    --background-text-color: #ff8dcb;
    --section-title-color: #353430;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-background-color: #fff1f7;
        --background-img: url('../images/cover-image-light.png');
        --primary-color: #ffc2e6;
        --primary-text-color: #353430;
        --secondary-text-color: #353430;
        --title-text-color: #ffc2e6;
        --decorated-zone-color: #353430;
        --diplay-of-decor-elem: none;
        --button-color: #353430;
        --button-active-color: #353430;
        --button-hover-color: #32312d66;
        --button-focus-visible-color: #353430;
        --decoration-element-color: #353430;
        --background-text-color: #ff8dcb;
        --section-title-color: #353430;
    }
}
