.page.theme_light {
    --header__background-image: url('../images/cover-image-light.png');
    --main-text-color: #353430;
    --header__decoration-element: none;
    --header__title-color: #ffc2e6;
    --text-background: #ff8dcb;
}

@media (prefers-color-scheme: light) {
    :root {
        --header__background-image: url('../images/cover-image-light.png');
        --main-text-color: #353430;
        --header__decoration-element: none;
        --header__title-color: #ffc2e6;
        --text-background: #ff8dcb;
    }
}
